<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HerbiSpeaks.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <HerbiSpeaks.Settings1>
            <setting name="BackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="DefaultFontName" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultTextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="DefaultFontSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultBorderThickness" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MostRecentPictureFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="MostRecentMediaFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="FirstTimeRunningThisVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MostRecentFileOpenFolder" serializeAs="String">
                <value/>
            </setting>
        </HerbiSpeaks.Settings1>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
